<footer>
    <div class="col-xl-3 col-m-12">
        <a href="" >
            <i class="fa fa-github github-icon"></i>
        </a>
        <a href="">
            <i class="fa fa-telegram telegram-icon"></i>
        </a>
        <a href="" >
            <i class="fa fa-envelope email-icon"></i>
        </a>
    </div>
</footer>