
<a href="/">
    صفحه اصلی
</a>
<a href="/resume" target="_blank">
    رزومه
</a>
<span class="dropdown">
    مینی برنامه <i class="fa fa-angle-up"></i>
    <ul class="dropdownmenu">
        <li><a href="/mini-app/tic-tac-toe" target="_blank">بازی دوز</a></li>
    </ul>
</span>