<section id="contact-head">
    <a href="" target="_blank">
        <i class="fa fa-github github-icon"></i>
    </a>
    <a href="" target="_blank">
        <i class="fa fa-telegram telegram-icon"></i>
    </a>
    <a href="" target="_blank">
        <i class="fa fa-envelope email-icon"></i>
    </a>
    <span>
        +989034650126
        <i class="fa fa-phone phone-icon"></i>
    </span>
</section>
<header id="myHeader">
    <nav>
        <span class="profile">
            <img src="images/no-profile.jpg" alt="pfp">
            <span>ورود</span>
        </span>
        <%- include("header-nav-items") %>
    </nav>
    <span id="mobile-profile" class="profile">
        <img src="images/no-profile.jpg" alt="pfp">
        <span>ورود</span>
    </span>
    <button id="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <aside id="mobile-menu">
        <%- include("header-nav-items") %>
    </aside>
    <!-- <span>
        <label class="switch">
            <input class="switch-input" type="checkbox" />
            <span class="switch-label" data-on="yes" data-off="no"></span> 
            <span class="switch-handle"></span> 
        </label>
        <label class="switch">
            <input class="switch-input" type="checkbox" />
            <span class="switch-label" data-on="yes" data-off="no"></span> 
            <span class="switch-handle"></span> 
        </label>
    </span> -->
</header>