<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
>

<link href="https://fonts.googleapis.com/css2?family=Raleway&amp;display=swap" rel="stylesheet">
    
<link rel="stylesheet" href="./styles/responsive.css">
<link rel="stylesheet" href="./styles/base.css">
<link rel="stylesheet" href="./styles/fonts.css">
<link rel="stylesheet" href="./styles/header.css">

<script src="./scripts/header.js" defer></script>

<link rel="icon" href="./images/favicon.ico" type="image/x-icon">
<title><%= title %></title>