#portfolio-items {
    margin: 1rem auto;
    padding: 2rem 5rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
    gap: 5rem;
}

h1 {
    padding: 3rem;
    text-align: center;
}

#portfolio-items li{
    text-align: center;
    background-color: var(--color-blue-l-300);
    border-radius: 7.5px;
    box-shadow: var(--shadow-less);
    overflow: hidden;
}

#portfolio-items img {
    object-fit: cover;
    width: 100%;
    height: 17rem;
}

#portfolio-items div{
    padding: 1rem;
}

@media (max-width : 768px) {
    #portfolio-items {
        padding: 0;
    }
}